{% extends 'main.html' %}

{% block content %}
<main class="formPage">
    <div class="content-box">
        <div class="formWrapper">
            <a class="backButton" href="{% url 'users:account' %}">&#10006</a>
            <br>

            <form action="" class="add__form" method="POST">
                {% csrf_token %}
                {% for field in form %}

                    <!-- Input:Text -->
                    <div class="form__field">
                        <label class="form__label" for="formInput#text">{{field.label}}</label>
                        <p>{{field}}</p>
                    </div>
                    
                {% endfor %}

                <input class="btn btn--sub btn--lg  my-md" type="submit" value="Submit" />
            </form>
        </div>
    </div>
</main>
{% endblock content %}
    