{% extends 'main.html' %}


{% block content %}
    <main>
        <div class="password__reset">
            <h3>Password reset</h3>
            <p>Forgotten your password? Enter your email address below, and we’ll email instructions for setting a new one.</p>
            <div class="password__form">
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form}}
                    <input class="operation" type="submit" value="Submit">
                </form>
            </div>            
        </div>
    </main>    
{% endblock content %}
    