.data {
    width: 75vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3rem 5rem;
}

.data__container {
    width: 100%;
    display: flex;
    flex-direction: column;    
    margin-top: 2rem;
    padding: 3rem 3rem;
    gap: 4rem;
}

.data__features {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: 1fr;
    column-gap: 1rem;
    align-items: center;
    justify-items:center;
    border-bottom: solid 0.2px #bd0000;
    padding-bottom: 0.5rem;
}

.data__feature {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #333333;
}

.data__feature label {
    font-size: 1.8rem;
    font-weight: 700;
}

.data__feature p {
    font-size: 1.6rem;
    word-wrap: break-word;
}

.data__operations a:last-of-type {
    margin-left: 1.4rem;
}

.search__add-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    padding: 2rem 3rem;
    width: 100vw;
    background-color: rgb(253, 240, 240);  
}

.subtitle__link {
    text-decoration: none;
    color: #bd0000;
}

.data__operations {
    display: flex;
    align-items: flex-end;
    justify-content: space-evenly;
    width: 85%;
}

.sort {
    width: fit-content;
    height: 3.6rem;
}

.data__total {
    display: flex;
    align-items: center;
    gap: 0.6rem;
    border-bottom: solid 0.2px #bd0000;
}

.data__total label {
    font-size: 2rem;
    font-weight: 700;
}

.data__total p {
    font-size: 1.8rem;
    word-wrap: break-word;
}

/* SUMMARY */
.summary__section {
    width: 65vw;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    align-items: center;
    padding: 3.5rem 0rem;
}

.summary__table-title {
    font-size: 2rem;
    color: #333333;
    margin-top: 1rem;
}

.summary__table {
    border-collapse: collapse;
    margin: 1.5rem 0;
    font-size: 0.9em;
    font-family: sans-serif;
    color: #333333;
}

.summary__table th, .summary__table tr {
    border: solid 0.2px #dedede;
    font-size: 1.4rem;
    padding: 1.2rem 1.5rem;
    width: 20vw;
    height: fit-content;
}

.summary__table td {
    border: solid 0.2px #dedede;
    text-align: center;
    padding: 0.6rem 0;
}

.summary__table-title:nth-of-type(2) {
    color: rgba(166, 41, 41, 0.4);
}

.summary__table:nth-of-type(1) {
    box-shadow: 0 0 20px rgba(166, 41, 41, 0.15);
}

.summary__table-title:nth-of-type(3) {
    color: rgb(173, 173, 173);
}

.summary__table:nth-of-type(2) {
    box-shadow: 0 0 20px rgba(173, 173, 173, 0.15);
}

.summary__table-title:nth-of-type(4) {
    color: rgba(0, 0, 155, 0.4);
}

.summary__table:nth-of-type(3) {
    box-shadow: 0 0 20px rgba(0, 0, 155, 0.15);
}

.summary__table-title:nth-of-type(5) {
    color: rgba(155, 155, 0, 0.4);
}

.summary__table:nth-of-type(4) {
    box-shadow: 0 0 20px rgba(155, 155, 0, 0.15);
}

/* EXCEL BUTTON */
.excel {
    align-self: flex-end;
    text-decoration: none;
    font-size: 1.6rem;
    margin-right: 4%;
    color: #fff;
    background-color: rgb(0, 92, 35);
    border: solid 0.2px rgb(0, 92, 35);
    border-radius: 0.5rem;
    padding: 1rem 1.5rem;
    transition: all 0.3s ease-out;
}

.excel:hover {
    background-color: #fff;
    color: rgb(0, 92, 35);
}

.excel:active {
    transform: scale(0.97);
}